<form ng-submit="search()">
<div class="row search-bar">
    <div class="col search-elem">
        <input type="text" class="form-control" placeholder="Otsi" ng-model="searchbox">
    </div>
    <div class="col-2 search-elem">
        <select class="form-control" ng-model="select.value" ng-init="select.value = select.options[0]" ng-options="option.name for option in select.options">
        </select>
    </div>
    <div class="col-1 search-elem">
        <button type="submit" class="btn btn-primary" >Otsi</button>
    </div>
</div>
</form>
<div class="loader" ng-show="showLoader"></div>
<div class="alert alert-danger" role="alert" ng-show="notFoundAlert">
    Otsing ei andnud tulemusi!
</div>
<div class="list-group">

    <a ng-repeat="book in books" href="#" ui-sref="book({bookId: book.id})" class="list-group-item list-group-item-action list-book-item">
        <div class="list-book-left">
            <img src="../img/default_book.svg" class="book-small"/>
        </div>
        <div class="list-book-center">
            <div class="list-book-title">{{book.title}}</div>
            <div class="list-book-author">{{book.author}}</div>
        </div>
        <div class="list-book-right">

        </div>
    </a>
</div>